<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <p>Hi {{userName}},</p>
    <p>
      Welcome to Yaari, To verify this email please click the below verify
      button or link.
    </p>
    <a
      href="{{link}}"
      target="_blank"
      style="
        background-color: #0b72bf;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
      "
      >Verify</a
    >
  </body>
</html>
